<div class="card">
  <h2>Dorm Information</h2>
  <div class="dorm-images">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of dorm.dorm_images">
          <img src="{{ image }}" alt="img 1" class="dorm_image" />
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      Post Title: <b>{{ dorm.title }}</b>
    </h4>
    <p>
      Address: <b>{{ dorm.address }}</b>
    </p>
    <p>
      Description: <b>{{ dorm.description }}</b>
    </p>
  </div>
</div>
