
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">All Dorm Posts</h6>
          <h2 class="text-right">
            <i class="fa fa-bed f-left"></i><span>{{ dorm_count.data }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Users Registered</h6>
          <h2 class="text-right">
            <i class="fa fa-users f-left"></i><span>{{ user_count.data }}</span>
          </h2>
          <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Approved Dorm Posts</h6>
          <h2 class="text-right">
            <i class="fa fa-thumbs-up f-left"></i><span>{{ dorm_count_approved.data }}</span>
          </h2>
          <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Sales</h6>
          <h2 class="text-right">
            <i class="fa fa-money f-left"></i><span>486</span>
          </h2>
          <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
