<div
  class="login-wrapper"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <div class="box">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Update your Details</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="form" (ngSubmit)="updateUser()">
        <mat-card-content>
          <label for="first_name" class="labels-image">
            <h4>First Name</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="First Name"
              type="text"
              formControlName="first_name"
              id="first_name"
              [(ngModel)]="data.first_name"
            />
            <mat-error *ngIf="hasError('first_name', 'required')"
              >First Name is required</mat-error
            >
            <mat-error *ngIf="hasError('first_name', 'maxlength')"
              >Not more than 60 characters</mat-error
            >
          </mat-form-field>

          <label for="last_name" class="labels-image">
            <h4>Last Name</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Last Name"
              type="text"
              formControlName="last_name"
              id="last_name"
              [(ngModel)]="data.last_name"
            />
            <mat-error *ngIf="hasError('last_name', 'required')"
              >Last Name is required</mat-error
            >
            <mat-error *ngIf="hasError('last_name', 'maxlength')"
              >Not more than 60 characters</mat-error
            >
          </mat-form-field>

          <label for="address" class="labels-image">
            <h4>Address</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Address"
              type="text"
              formControlName="address"
              id="address"
              [(ngModel)]="data.address"
            />
            <mat-error *ngIf="hasError('address', 'required')"
              >Address is required</mat-error
            >
            <mat-error *ngIf="hasError('address', 'maxlength')"
              >Not more than 100 characters</mat-error
            >
          </mat-form-field>

          <label for="mobile_number" class="labels-image">
            <h4>Mobile Number</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Mobile Number"
              type="tel"
              formControlName="mobile_number"
              id="mobile_number"
              [(ngModel)]="data.mobile_number"
            />
            <mat-error *ngIf="hasError('mobile_number', 'required')"
              >Mobile Number is required</mat-error
            >
            <mat-error *ngIf="hasError('mobile_number', 'maxlength')"
              >Not more than 12 characters</mat-error
            >
          </mat-form-field>

          <label for="username" class="labels-image">
            <h4>User Name</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Username"
              type="text"
              formControlName="username"
              id="username"
              [(ngModel)]="data.username"
            />
            <mat-error *ngIf="hasError('username', 'required')"
              >Username is required</mat-error
            >
            <mat-error *ngIf="hasError('username', 'maxlength')"
              >Not more than 15 characters</mat-error
            >
          </mat-form-field>
          <!-- required
              #username="ngModel"
              [(ngModel)]="form.username"
            #username="ngModel"
                  [(ngModel)]="form.password"
            #password="ngModel"
                  [(ngModel)]="form.password"
            #password="ngModel"
          -->
          <label for="email" class="labels-image">
            <h4>Email</h4>
          </label>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email"
              type="email"
              formControlName="email"
              [(ngModel)]="data.email"
            />
            <mat-error *ngIf="hasError('email', 'required')"
              >Email is Required</mat-error
            >
            <mat-error *ngIf="hasError('email', 'email')"
              >Not a Valid Email</mat-error
            >
          </mat-form-field>
        </mat-card-content>
        <button
          mat-raised-button
          color="primary"
          class="btn-block update-button"
          [disabled]="!form.valid"
        >
          Update
        </button>
      </form>
    </mat-card>
  </div>
</div>
